.board, .hand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.boardWrapper {
  text-align: left;
  border: 1px solid #dee2e6;
}

.ownBoard {
  background-color: cornflowerblue;
}

.hand {
  margin: 1em 0;
}

.set, .store, .hand > .card{
  width: 7em;
}

@media (max-width: 576px) {
  .set, .store, .hand > .card {
    width: 30%;
  }
}

.set, .store {
  margin: 0.3em;
  padding: 4px;
}

.hand > .card {
  /* Negative margin allows vertical borders to merge together */
  margin-top: -1px;
  margin-bottom: -1px;
  margin: 0.1em;
}

.set.complete {
  padding: 0;
  border: 4px solid lime;
  border-radius: 0.5em;
}

.card {
  /* Use relative to force stacking context creation */
  position: relative;
  border-radius: 0.4em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card, .energy {
  border: 1px solid grey;
}

.setMembers .card:not(:last-child) {
  margin-bottom: -1.7em;
}
.setEnhancers .card {
  /* Negative margin allows vertical borders to merge together */
  margin: -1px 0;
}

.cardHeader {
  padding-left: 0.3em;
  background-color: white;
}

.cardHeader:not(:last-child) {
  border-bottom: 1px solid grey;
}

.cardBody {
  clear: both;
  text-align: center;
}

.altColours {
  width: 1.5em;
  display: flex;
  align-items: stretch;
}

.altColour {
  display: inline-block;
  flex: 1;
}

.energy {
  width: 1.5em;
  text-align: center;
  background-color: white;
}

.energy.2 {
  background-color: #1199cc;
}

.energy.3 {
  background-color: #cc6622;
}

.energy.4 {
  background-color: #9955cc;
}

.energy.5 {
  background-color: #ee8877;
}

.energy.10 {
  background-color: #99ccaa;
}

.cardHeader > .energy, .cardHeader > .altColours {
  /* Allow to stack on top of header text */
  position: relative;
  float: right;
  margin: 0;
}

.cardHeader > .energy {
  /* Drop all but left border */
  border: none;
  border-left: 1px solid grey;
}

.charges {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: grey;
}

.charge.active {
  font-weight: bold;
  color: black;
}

.store {
  display: flex;
  flex-wrap: wrap;
}

.storeHeader {
  display: none;
  width: 100%;
  font-weight: bold;
}

.store > .energy {
  /* Negative margin allows borders to merge together */
  margin: -0.5px;
}

.actionPopover > button {
  display: block;
  margin: 0.25em auto;
}

.lightText {
  color: white;
}

.playerName {
  margin-bottom: -0.5em;
  margin-left: 0.5em;
}
