.item {
  padding-left: 0.5em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.energy {
  width: 1.5em;
  text-align: center;
  background-color: white;
}

.item .energy {
  float: right;
  border: none;
  border-left: 1px solid grey;
}

.charges {
  display: flex;
  justify-content: space-around;
  color: grey;
}

.charge.active {
  font-weight: bold;
  color: black;
}

.set, .store {
  width: 7em;
  margin: 0.3em 0.3em;
}

@media (max-width: 576px) {
  .set, .store {
    width: 30%;
  }
}

.setInner, .storeInner {
  border: 4px solid white;
}

.set.complete .setInner {
  border-color: lime;
}

.setInner div {
  border: 1px solid;
}

.setInner div:not(:last-child) {
  border-bottom: none;
}

.storeInner {
  display: flex;
  flex-wrap: wrap;
}

.storeHeader {
  width: 100%;
  font-weight: bold;
}

.store .energy {
  border: 1px solid grey;
  /* Negative margin allows borders to merge together */
  margin: -0.5px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em 0;
  background-color: white;
}
