.actionBar, .selectorBar {
  display: flex;
  justify-content: stretch;
}

.actionBar button, .selectorBar button {
  margin: 0px 1px;
  flex-grow: 1;
}

.log {
  max-height: 8em;
  overflow: scroll;
}
