.actionBar {
  display: flex;
  justify-content: stretch;
}

.actionBar button {
  margin: 0px 1px;
  flex-grow: 1;
}

.log {
  max-height: 8em;
  overflow: scroll;
}

.logItem {
  margin: 0.25em 0;
}

.logItem > div {
  display: inline-block;
  margin: 0 0.5em;
  width: 7em;
  vertical-align: top;
}

@media (max-width: 576px) {
  .logItem > div {
    width: 30%;
  }
}

.settings {
  position: absolute;
  right: 0;
}

.alert {
  position: fixed;
  /* Constrain by max-width but grow as much as possible */
  max-width: calc(768px - 1em);
  width: calc(100% - 1em);
  z-index: 1;
}
