.actionBar {
  display: flex;
  justify-content: stretch;
}

.actionBar button {
  margin: 0px 1px;
  flex-grow: 1;
}

.log {
  max-height: 8em;
  overflow: scroll;
}

.settings {
  position: absolute;
  right: 0;
}

.alert {
  position: fixed;
  /* Constrain by max-width but grow as much as possible */
  max-width: calc(768px - 1em);
  width: calc(100% - 1em);
  z-index: 1;
}
